<footer class="footer">
  <div class="footer__inner">
    <div class="footer__company">
      <h2 class="footer__logo">
        <img src="/src/assets/images/logo.svg" alt="株式会社グランドエステート" width="120" height="40">
      </h2>
      <address class="footer__address">
        <p>〒104-0061</p>
        <p>東京都中央区銀座1-1-1 グランドエステートビル6F</p>
        <p>TEL: 03-1234-5678</p>
        <p>営業時間: 9:00-18:00（土日祝除く）</p>
      </address>
    </div>

    <nav class="footer__nav">
      <ul class="footer__nav-list">
        <li class="footer__nav-item">
          <a href="/company/" class="footer__nav-link">企業情報</a>
        </li>
        <li class="footer__nav-item">
          <a href="/service/" class="footer__nav-link">事業案内</a>
        </li>
        <li class="footer__nav-item">
          <a href="/works/" class="footer__nav-link">実績紹介</a>
        </li>
        <li class="footer__nav-item">
          <a href="/contact/" class="footer__nav-link">お問い合わせ</a>
        </li>
      </ul>
    </nav>
  </div>
  
  <div class="footer__copyright">
    <p>&copy; 2024 GRAND ESTATE Inc. All Rights Reserved.</p>
  </div>
</footer>