<header class="header">
  <div class="header__inner">
    <h1 class="header__logo">
      <a href="/">
        <img src="/src/assets/images/logo.svg" alt="会社名" width="120" height="40">
      </a>
    </h1>

    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="/company/" class="header__nav-link">企業情報</a>
        </li>
        <li class="header__nav-item">
          <a href="/service/" class="header__nav-link">事業案内</a>
        </li>
        <li class="header__nav-item">
          <a href="/works/" class="header__nav-link">実績</a>
        </li>
        <li class="header__nav-item">
          <a href="/contact/" class="header__nav-link">お問い合わせ</a>
        </li>
      </ul>
    </nav>

    <button class="header__menu-button" aria-label="メニュー">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>